@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Borel&family=Dancing+Script:wght@500&family=Edu+SA+Beginner&family=Outfit&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title{
  font-weight: bolder !important;
}

img {
  width: 150px;
  height: 200px;
  border-radius: 1rem;
  object-fit: cover;
}

.logo > img {
  width: 300px;
  height: 175px;
}


main{
  background-color: bisque;
}


.statistics {
  
  display: flex;
  flex-direction: column;
  font-size: large;
  font-family: 'Outfit', sans-serif; 
  color: blueviolet;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: .5rem;
  display: none;
  background-image: url(https://wallpapers.com/images/hd/nba-logo-1440-x-2560-3kf6d85nce5lafx9.jpg);
  background-size: cover;
  background-position: center;
  
}

.toggle {
  position: relative;
}

.player-cards {
  font-family: 'Dancing Script', cursive;
  transition: all .8s;
  background-image: url("https://cdn.mos.cms.futurecdn.net/CPAhzgowLi2NtrP9HfVy9Y.png") !important;
   background-size: cover;
   background-position: center;
   border-radius: 1rem;


  & img:hover {
    transform: scale(1.1);
  }
  @media screen and (max-width:574px) {
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   
  }

  & .player-name {
    font-size: 1.2rem;
    color: darkorange;
    font-family: 'Edu SA Beginner', cursive;
  }
}

